toolbox[api] @ git+https://github.com/Valcrist/toolbox.git
imgroyale @ git+https://github.com/Valcrist/imgroyale.git
fastapi
sqlalchemy
sqlalchemy_utils
pydantic[email]
uvicorn[standard]
psycopg[binary]
asyncpg
httpx
beautifulsoup4
